html,
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #cbd8db;
}

header {
    background-color: rgb(84, 134, 177);
    color: white;
    margin: 0;
    padding: 0 5vw;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo-container {
    position: relative;
    width: 100%;
    justify-items: left;
    align-items: center;
    text-align: left;
}

#user-picture {
    margin-right: 10px;
    padding: 3px;
    font-size: 40px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}

.user-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    text-align: right;
    font-size: 25px;
}

.container {
    width: 100%;
}

.App {
    width: 100%;
}

.profile {
    width: 60px;
    height: 60px;
    padding: 5px 5px;
    border-radius: 60px;
    background-color: white;
    border: solid 1px black
}

.card {
    width: 40vw;
    text-align: left;
    background-color: rgb(247, 247, 247);
    padding: 3rem 3rem;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;
}

.card-bg {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 61vw;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 20px;
}

.card-header {
    display: inline-flex;
    position: relative;
}

.card-description {
    margin: 1.5rem auto;
    padding: 10px 10px;
    display: inline-flex;
    width: 100%;
    border-radius: 10px;
}

.card-description h4 {
    font-weight: normal;
}

.input-post {
    padding: 10px 10px;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 60vw;
    background-color: white;
    border-radius: 10px;
}

.filter-bar {
    width: 60vw;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    margin-top: 9vh;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

input[name=search] {
    height: 2rem;
    width: 100%;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
    margin-left: 15px;
}

input[name=write_post] {
    height: 2.5rem;
    width: 100%;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(232, 232, 232);
}

.input-post textarea {
    height: 4rem;
    width: 100%;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(232, 232, 232);
}

.card-description textarea {
    height: 200px;
    width: 100%;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.btn-post {
    padding: 1rem 1rem;
    cursor: pointer;
    background-color: #00c0eb;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    width: 10rem;
    margin-left: 20px;
}

.empty-post {
    padding-top: 5rem;
    justify-content: left;
    align-items: center;
    display: inline-flex;
    width: 60vw;
    border-radius: 10px;
}

.profile-name {
    padding-left: 20px;
}

.float-left {
    float: left;
}

.btn-close {
    padding: 10px;
    cursor: pointer;
    background-color: #ff2c2c;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
}

.btn-primary {
    padding: 10px;
    cursor: pointer;
    background-color: #00c0eb;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
}