html,
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #cbd8db;
}

.container {
    width: 100%;
}

.App {
    width: 100%;
}

.profile {
    width: 60px;
    height: 60px;
    padding: 5px 5px;
    border-radius: 30px;
    background-color: rgb(216, 216, 216);
}

.card {
    width: 40vw;
    text-align: left;
    background-color: rgb(247, 247, 247);
    padding: 3rem 3rem;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-bg {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 61vw;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 20px;
}

.card-header {
    display: inline-flex;
    position: relative;
}

.card-description {
    margin: 1.5rem auto;
}

.card-description h4 {
    font-weight: normal;
}

.input-post {
    padding: 10px 10px;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 60vw;
    background-color: white;
    border-radius: 10px;
}

input[name=write_post] {
    height: 2.5rem;
    width: 100%;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(220, 220, 220);
}

.btn-post {
    padding: 1rem 1rem;
    cursor: pointer;
    background-color: #00c0eb;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    width: 10rem;
    margin-left: 20px;
}

.empty-post {
    padding-top: 5rem;
    justify-content: left;
    align-items: center;
    display: inline-flex;
    width: 60vw;
    border-radius: 10px;
}

.profile-name {
    padding-left: 20px;
}

.float-left {
    float: left;
}