html,
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}